@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.about {
  padding: 1rem;

  @include desktop {
    padding: 2rem;
  }

  &__header {
    margin-bottom: 2rem;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1.25rem;
  }

  &__logo {
    width: 40px;
    height: 40px;
  }

  &__name {
    margin: 0;
  }

  &__definition {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1.25rem;
    margin-bottom: 1rem;
  }

  &__pronunciation {
    margin: 0;
    font-style: italic;
    color: #666;
  }

  &__part-of-speech {
    font-weight: 600;
  }

  &__description {
    margin-bottom: 2rem;

    @include desktop {
      max-width: 50%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include desktop {
      flex-direction: row;
      align-items: center;
      gap: 3rem;
    }
  }

  &__text {
    flex: 1;

    @include desktop {
      max-width: 50%;
    }
  }

  &__section-title {
    margin-bottom: 1rem;
  }

  &__copy {
    line-height: 1.6;
    margin-bottom: 1.25rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;

    @include desktop {
      flex: 1;
      max-width: 50%;
      max-height: 600px;
    }
  }
}
