@use "./variables" as *;
@use "./mixins" as *;
@use "./typography";

h1 {
  font-family: "Space Grotesk";
  font-size: 40px;
  color: $primary-text;
}
h2 {
  font-family: "Space Grotesk";
  font-size: 32px;
  color: $primary-text;
}
h3 {
  font-family: "Space Grotesk";
  font-size: 24px;
  color: $primary-text;
}
h4 {
  font-family: "Space Grotesk";
  font-size: 20px;
  color: $primary-text;
}
p {
  font-family: "Lexend";
  font-size: 18px;
  color: $primary-text;
}

body {
  background-color: $background-color;
}
