@use "../styles/partials/global" as *;
@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;

.card {
  flex: 1 1 calc(25% - 20px);
  max-width: calc(25% - 20px);
  padding: 20px;
  border-radius: 20px;
  border: 1px solid $dark-orange;
  background-color: $light-yellow;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-4px);
  }

  @include tablet {
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
  }
}

.card_img {
  height: 387px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.card_title {
  padding: 16px 0 10px 0;
}

.card_desc {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
