@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.homepage__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0 2rem 0;
}
